<launch>
	<arg name="rviz" default="false" />
	<rosparam command="load" file="$(find immesh_pgo)/config/nclt.yaml" />
	<param name="meshing/distance_scale" type="double" value="1.0" /> 
	<param name="gui_font_size" type="int" value="20" /> 
	
	<node pkg="immesh_pgo" type="ImMesh_mapping" name="laserMapping" output="screen">
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find immesh_pgo)/rviz_cfg/ImMesh.rviz" />
	</group>
	
</launch> 	
