<launch>

	<param name="pc_name" type="string" value="/home/yixfeng/ImMesh_PGO/mesh_src/unsw_lower_campus/immesh_pgo_lower_campus.pcd" />
	<rosparam command="load" file="$(find immesh_pgo)/config/offline_pointcloud.yaml" />
	<param name="meshing/distance_scale" type="double" value="1.0" /> 
	<param name="gui_font_size" type="int" value="20" /> 
	
	<node pkg="immesh_pgo" type="ImMesh_mapping" name="laserMapping" output="screen" launch-prefix=""> 
	</node>

</launch> 	
